ytd-playlist-video-renderer:hover #manual-delete {
  visibility: visible;
}

#manual-delete {
  visibility: hidden;
  width: 38px;
  height: 38px;
  background: transparent;
  border: 0;
  fill: rgb(255, 255, 255);
  cursor: pointer;
  margin-right: 5px;
}
